body {
    background-color: rgb(65, 63, 63);
    color: white;
    font-size: 20px;
}

header {
    background-color: rgb(138, 138, 138);
    display: grid;
    place-content: center;
    font-size: 30px;
    border-radius: 30px;
}

nav ul {
    background-color: rgb(50, 47, 47);
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    font-family: "Inconsolata", monospace;
    display: inline;
    margin-right: 20px;
    margin-left: 80px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #007bff;
}

h1 {
    font-family: "Workbench", sans-serif;
}

h2 {
    font-family: "Workbench", sans-serif;
}

p {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 28px;
}

nav {
    background-color: rgb(108, 108, 108);
    font-size: 25px;
    border-radius: 20px;
}

.inicio {
    background-color: rgb(113, 113, 113);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trabajo {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.normas {
    background-color: rgb(113, 113, 113);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lider {
    background-color: rgb(113, 113, 113);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sufrimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.amor {
    background-color: rgb(113, 113, 113);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-1 {
    height: 500px;
    width: 900px;
}

.img-2 {
    height: 500px;
    width: 900px;
}

.img-trabajo {
    display: flex;
}

.img-3 {
    width: 900px;
}

.img-4 {
    width: 900px;
}

.img-normas {
    display: flex;
}

.img-5 {
    width: 900px;
}

.img-6 {
    width: 900px;
}

.img-grupo {
    display: flex;
}

.img-7 {
    width: 900px;

}

.img-8 {
    width: 900px;
    height: 700px;
}

.img-sufri {
    display: flex;
}

.img-9 {
    width: 800px;
    height: 700px;
}

.img-10 {
    width: 800px;
    height: 700px;
}

.img-amor {
    display: flex;
}

.galeria {
    display: flex;
    height: 430px;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

footer {
    background-color: rgb(82, 82, 82);
    display: grid;
    place-content: center;
    border-radius: 10px;
}
